body {
    background-color: #F3F7FA;
    margin: 0;
    height: 100vh;
    padding-top: 70px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: right;
    padding-bottom: 20px;
    padding-top: 20px;
    color: #273364;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    width: 100vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
}

.header-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-position {
    margin-top: 3px;
    font-size: 13px;
}

.title {
    margin-top: 30px;
    font-size: 24px;
    color: #273364;
    font-weight: 700;
}

.text {
    color: #606579;
    font-size: 15px;
    margin-top: 15px;
}

.form {
    display: flex;
    flex-direction: column;
}

.formElement {
    height: 60px;
    font-size: 15px;
    margin-top: 15px;
    border-radius: 7px;
}

.input {
    padding: 10px;
    border: 1px solid #D4D4D9;
}

/*.input:invalid {*/
/*    box-shadow: 0 0 7px 3px rgba(255, 0, 0, 0.4);*/
/*}*/

.phone {
    display: flex;
}

.phoneCode {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    background-color: #ffffff;
    border: 1px solid #D4D4D9;
    border-right: none;
    border-radius: 7px 0 0 7px;
}

.phoneNumber {
    width: 100%;
    border-radius: 0 7px 7px 0;
}

.marks {
    display: flex;
}

.mark {
    position: relative;
    width: 30px;
    border: 1px solid #D4D4D9;

}

.mark > input {
}

.mark > label {
    position: absolute;
}

.button {
    background: linear-gradient(90deg, #36519B -0.03%, #4B77B7 100%);
    color: #ffffff;
}